@media only screen and(min-device-width: 320px)and(max-device-width: 620px){
    .navbar-brand{
        font-size:100px;
        text-decoration:none;
        color:green;
    }
    .navbar-menu li a{
        display:inline-block;
        color:black;
        opacity:0.6;
        text-decoration:none;
        padding:5%;
        transition:all 07s easy-in-out;
        width:110%;
    }
    }